<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacts</title>
</head>
<body>
    <header>
        <h2>Header</h2>
        <nav>
            <ul>
                <li>
                    <a href="../index.html">Home</a>
                </li>
                <li>
                    <a href="https://www.nasa.gov/" target="blank">Nasa</a>
                </li>
                <li>
                    <a href="../index.html#formula-area">To formul</a>
                </li>
                <li>
                    <a href="./about-page.html">About</a>
                </li>
                <li>
                    <a href="#">Contacts</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Contact US</h1>
    </main>
    <footer>
        <h2>Page footer</h2>
    </footer>
</body>
</html>