body {
    background: #000;
    padding: 0;
    margin: 0;
}
* {
    box-sizing: border-box;
}
h1 {
    color: #ffffff;
}



.app-container {
    max-width: 1200px;
    margin: 0 auto;
    overflow: auto;
}
.app-top-pad {
    padding-top: 50px;
}
.app-navigation-menu {
    width: 100%;
    background: #fff;
    color: #000; 
    position: fixed;
    top: 0;
}
.app-container .navigation {
    display: flex;
    flex-direction: row;
}
.app-container .navigation li{
    list-style: none;
    
}
.app-container .navigation li a {
    text-decoration: none;
    padding: 17px;
    text-transform: uppercase;
    color: #000;
    transition: all .2s linear;
}
.app-container .navigation li a:hover {
    background: #000000;
    color: #fff;
}

.app-container .navigation li a.active {
    background: #000000;
    color: #fff;
}
.user-form-wrapper input {
    background: #fff;
    border: none;
    border-bottom: 1px solid #8907C1;
    width: 100%;
    padding: 10px;
}
.user-form-wrapper .required-style p {
    color: rgb(172, 0, 0);
}
.user-form-wrapper input[type="color"] {
    border: none;
    height: 80px;
}
.user-form-wrapper input[type="file"] {
    display: none;
}
.avatar-icon {
    margin: 0 auto;
    display: block;
    border-radius: 50%;
} 
.user-form-wrapper form fieldset {
    border-radius: 20px;
    border: 1px solid #d9d9d9;
}

/* user-area-background */
body.user-area-background {
    background: linear-gradient(304deg, rgba(115,0,230,1) 0%, rgba(254,46,0,1) 100%);
}

.user-list-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.user-form-wrapper {
    background-color: #ffffff;
    padding: 5px;
    width: 40%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.user-form-wrapper form button {
    width: 100%;
    padding: 10px;
    background: #8907C1;
    color: #fff;
    border-radius: 50px;
    border: 0px;
    margin-top: 20px;
    transition: all .3s linear;
}
.user-form-wrapper form button:active {
    background:#210030;
}

.user-list-wrapper {
    background: rgba(0, 0, 0, .3);
    width: 70%;
    overflow-y: scroll;
    height: 811px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.user-list-wrapper li {
    background: #d9d9d9;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    overflow: hidden;
}
.user-list-wrapper li:nth-child(even) {
    background: #b0afb3;
}
.user-list-wrapper div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.delate-btn {
    background: rgb(172, 0, 0);
    padding: 10px;
    color: #fff;
    border-radius: 20px;
    border: 0px;
    transition: all .3s linear;
}
.delate-btn:active {
    background:rgb(7, 6, 6)
}

.text-area {
    background: #fff;
    color:rgb(7, 6, 6);
    margin-top: 20px;
    padding: 20px;
}
.user-card img{
    border-radius: 50%;
}