<h4>Other Products</h4>
<ul *ngIf="allProducts.length">
    <li *ngFor="let product of allProducts" [class.select-panel-product]="product.id === currentProduct.id">
        <a routerLink="/shop/{{ product.name | linkNameFormat: product.id }}" [queryParams] ='{id: product.id}'>
            <img src="{{ product.image[0] | imageFormat: host }}" alt={{product.name}}>
            <h4>{{product.name}}</h4>
            <h5>{{product.price | currency: product.currency  }}</h5> 
        </a>
    </li>
</ul>
